@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Varela Round',sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;

}

nav ul li{
    padding: 0px 12px;

}
.brand img{
    height:48px;
    padding: 0 8px;
}


.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela',sans-serif; 
    display:flexbox;
    margin:20px auto;
    width: 70%;
    border-radius: 12px;
    padding:32px;
    background: url('bg.jpg');
    background-size: cover;

}
.bottom{
    position: sticky;
    height: 110px;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ProgressBar{
    width:80vw;
}

.icons img{
    padding-top: 10px;
    height:50px;  
}

.songitem{
    height:50px;
    display: flex;
    background-color: white;
    width: 40%;
    color:black;
    margin: 12px 0px;
    justify-content: space-between;
    border-radius: 32px;
    padding:0px;
    font-weight: bold;
    
}

.songname{
    margin-top: 12px;
}

.songitemcontainer{
    margin-top: 40px;
}

.timestamp img{
    margin-right: 10px;
}

.songitem img{
    margin-left: 10px;
    margin-top: 5px;
    height:80%;
    border-radius: 32px;
}