@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Varela Round',sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;

}

nav ul li{
    padding: 0px 12px;

}
.brand img{
    height:48px;
    padding: 0 8px;
}


.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela',sans-serif; 
    display:flex;
    margin:20px auto;
    width: 70%;
    border-radius: 12px;
    padding:32px;
}
.bottom{
    position: sticky;
    height: 110px;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ProgressBar{
    width:80vw;
    
}

.icons img{
    padding-top: 10px;
    height:50px;  
}